
<div class="add">
 <div class="main">
      <div class="one">
        
        <div class="register">
           <h3>Forgot your Password</h3>
        
           <form ng-submit="submit()">
               
            <div>
              <label for="email">Enter your email</label>
              <input type="email" ng-model="email"  placeholder="sudhir.roy11@gmail.com" required/>
            </div>
			
	             
            <div>
              <input type="submit"/>
              <input type="button" value="Cancel" ng-click="cancel()" />
           
         </div>
          </form>
 	
 	
 	</div>
    </div>
    </div>
    </div>