
<div class="add">
 <div class="main">
      <div class="one">
    
        <div class="register">
           <h3>Sign In</h3>
        
           <form ng-submit="submit()" >
               
            <div>
              <label for="email">Email:</label>
              <input type="email" ng-model="email"  placeholder="sudhir.roy11@gmail.com" required/>
            </div>
			
	        <div>
              <label for="password">Password:</label>
              <input type="password" ng-model="password"  placeholder="***********" required/>
            </div>
	
	        
            <div>
              <input type="submit" value="Log IN"/>
         </div>
          <div>
           <a href="#forgot"><label class="forgot">Can't log in</label></a>
           <a href="#signup"><label class="signup">Signup</label></a>
           
         </div>
         </form>
 	
 	
 	</div>
    </div>
    </div>
    </div>