html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
.container,
.header {
  width: 100%;
  border-radius: 5%;
  position: relative;
}
.container {
  background-color: #00a3cc;
  height: 100%;
}
.header {
  height: 13%;
  background-color: brown;
}
img{
height: 60%;
width: 6%;
border-radius: 50%;
margin-top: 1%;
margin-left: 1%;
display: inline-block;
}
#name{
width: 60%;
height: 40%;
margin-left: 2%;
font-size: 65px;
}