div {
  border-style: solid;
  border-width: thin;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
 
}
.container div {
  width: 25%;
  height: 25%;
  display: inline-block;
  position: absolute;
}


.equall{
margin-top: 1%;
margin-left: 1%;
}
.equalr{
margin-top: 1%;
margin-left: 74%;
}
.equalbl{
margin-top: 33%;
margin-left: 1%;
}
.equalbr{
margin-top: 33%;
margin-left: 74%;
}
.main{
color: red;
left: 35%;
top: 35%;
border-radius: 50%;
 }
 .equall1{
margin-top: 5%;
margin-left: 5%;
}
.equall2{
margin-top: 5%;
margin-left: 72%;
}
.equall3{
margin-top: 30%;
margin-left: 5%;
}
.equall4{
margin-top: 30%;
margin-left: 72%;
}
.equall5{
left: 38%;
top: 40%;
border-radius: 50%;
 }
 .equalr div{
 color: red;
 border-radius: 50%;
 }
 .equalbr div{
 color: purple;
 border-radius: 45%;
  }
  .equalbl div{
 color: blue;
  }
.equalr1{
left: 5%;
top: 5%;
 }
 .equalr2{
left: 72%;
top: 5%;
 }
 .equalr3{
margin-top: 30%;
margin-left: 5%;
}
.equalr4{
margin-top: 30%;
margin-left: 72%;
}
.equalr5{
left: 38%;
top: 40%;
border-radius: 50%;
 }
.equalbl1{
left: 5%;
top: 5%;
 }
 .equalbl2{
left: 72%;
top: 5%;
 }
 .equalbl3{
margin-top: 30%;
margin-left: 5%;
}
.equalbl4{
margin-top: 30%;
margin-left: 72%
}
.equalbr1{
left: 5%;
top: 5%;
 }
 .equalbr2{
left: 72%;
top: 5%;
 }
 .equalbr3{
margin-top: 30%;
margin-left: 5%;
}
.equalbr4{
margin-top: 30%;
margin-left: 72%;
}

 }
